
.Card {
  @extend .u-margin-bottom-s;
  
  @media (--lg-viewport), (--md-viewport), (--sm-viewport) {
      
    min-height: 18rem;
    
  }
  
}

.Card figure {
    min-height: 20rem;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center top !important;
}