.Card {
    @extend .u-margin-bottom-s;
}

.Card figure {
    min-height: 20rem;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}


@media (--md-viewport), (--lg-viewport) {

  .Card .u-layout-prose{
    min-height: 23rem;
  }
  
  .Card .u-layout-proseHome{
    min-height: 48rem;
  }
}

/* css per Card in management_folder */ 

.class-management_folder .Card{
	background-color: #FFF !important;
	margin-left:1em;
	margin-right:1em;
	text-align: center;
	/*min-height: 28em	*/
}
.class-management_folder .Card:h3{
	margin-top: 0rem!important;
	line-height: 0.8em;
}

.class-management_folder .Card:hover{
	background-color: #ebffe7 !important; 
}
.class-management_folder .img-circle{
	border: 0px  ;
	border-radius: 50%;
	max-width: 100%;
	padding-right: 0.4em;
    padding-left: 0.4em;
}

.container-management_folder{
	text-align: center;
	margin: 0 auto;
}

@media (--lg-viewport) {
	.container-management_folder{
		width: 1270px;;
	}
	.class-management_folder .presidentdiv {
		padding-left: 2.4em;
		padding-right: 2.4em;
	}
}

@media (--md-viewport) {
	.container-management_folder{
		width: 970px;
	}
	.class-management_folder .presidentdiv {
		padding-left: 1.6em;
		padding-right: 1.6em;
	}
}

@media (--sm-viewport) {
	.container-management_folder{
		width: 750px;
	}
	.class-management_folder .presidentdiv {
		padding-left: 1.3em;
		padding-right: 1.3em;
	}
}
@media (--xs-viewport) {
	.container-management_folder{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}

.class-management_members .img-circle{
	border: 0px  ;
	border-radius: 50%;	
}

.class-management_folder  .organigramma{
	text-align: center;		
}
.class-management_folder .organigramma_child{
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	width: 75%;
	margin: 0 auto;
	background-color:#ebffe7!important;
}

.management-mailto { 
	background-color: #6ec05e !important; 
	padding: .3rem; 
	border-radius: 2rem; 
	margin-right: .5rem !important; 
	font-size: 1.8rem !important; 
	display: inline-block; 
}
.management-mailto span { 
	color: #fff !important; 
    padding-left: 4px;
    padding-right: 4px;
}

.management-mailto span:hover { 
	color: #005e82 !important; 
}	

.class-management_folder .management-paddin-null { 
	margin-bottom: 0!important;
    margin-top: 0em!important;
    line-height: 0.8em;
	background-color:#000;
}
	


.managementMember {
    clear: both;
    margin-bottom: 10px;
}

/* fine css per Card in management_folder */ 


