/* eZPublish ezflow blocks */

.u-flow {
  padding-left: 10rem;
  padding-right: 10rem;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-flow {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

/*
 * PANELS
 */

.u-flow-panels {
  @extend .u-layout-centerContent;
  @extend .u-padding-r-top;
}

.u-flow-panels section {
  @extend .u-layoutCenter;
  @extend .u-layout-wide;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
  @extend .u-text-r-s;
}

.u-flow-panels section h2 {
  @extend .u-text-r-s;
  @extend .u-color-50;
  @extend .u-text-h3;
  @extend .u-margin-all-xs;
}

.u-flow-panels section .u-flow-panels-link {
  @extend .u-margin-right-xs;
  @extend .u-margin-top-m;
}

.u-flow-panels section .u-flow-panels-link a {
  @extend .u-color-50;
}

.u-flow-panels section .u-flow-panel {
  @extend .u-padding-all-l;
  @extend .u-margin-all-xs;
  @extend .u-background-grey-10;
  min-height: 10rem;

  @media (--lg-viewport), (--md-viewport) {
    min-height: 20rem;
  }
}

.u-flow-panels section .u-flow-panel-comunicato {
  min-height: 10rem !important;
}

.u-flow-panels section .u-flow-panel .u-flow-icon {
  float: right;
}

.u-flow-panels section .u-flow-item .subtitle {
  margin-top: 2rem;
}

/*
.u-flow-panels section .u-flow-item .subtitle p {
  display: inline;
}

.u-flow-panels section .u-flow-item .subtitle p:nth-child(n+2) {
  margin-left: 0.5rem;
}
*/

/* event */

.u-flow-panels section .u-flow-event {
  @extend .u-margin-all-xs;
  @extend .u-background-grey-10;
  min-height: 10rem;
}

.u-flow-panels section .u-flow-event .u-event-when {
  @extend .u-background-80;
  @extend .u-color-white;
  @extend .u-textCenter;
  float: left;
  height: 10rem;
  width: 9rem;
}

.u-flow-panels section .u-flow-event .u-event-when .u-event-monthday {
  font-size: 6rem;
  font-weight: 600;
}

.u-flow-panels section .u-flow-event .u-event-when .u-event-month {
  font-size: 1rem;
}

.u-flow-panels section .u-flow-event .u-event-what {
  @extend .u-padding-all-s;
  float: none;
  height: 10rem;
  margin-left: 9rem;
}

.u-flow-panels section .u-flow-event .u-event-what .u-event-title {
  @extend .u-margin-bottom-xs;
  font-weight: bold;
}

/* banner */

.u-flow-panels section .u-flow-banner {
  @extend .u-margin-all-xs;
  @extend .u-background-grey-10;
  min-height: 10rem;
}

.u-flow-panels section .u-flow-banner .u-banner-icon {
  @extend .u-color-white;
  @extend .u-textCenter;
  @extend .u-padding-all-s;
  float: left;
  font-size: 6rem;
  height: 10rem;
  width: 9rem;
}

.u-flow-panels section .u-flow-banner .u-banner-content {
  @extend .u-padding-all-s;
  float: none;
  height: 10rem;
  margin-left: 12rem;
}

.u-flow-panels section .u-flow-banner .u-banner-content .u-banner-title {
  font-weight: bold;
}

.u-flow-panels section .u-flow-banner .u-banner-content .u-banner-subtitle {
  @extend .u-margin-top-xs;
}

/*
 * LINKS
 */

.u-flow-links {
  @extend .u-padding-r-top;
  margin-left: -10rem;
  margin-right: -10rem;
}

.u-flow-links section {
  @extend .u-layoutCenter;
  @extend .u-layout-wide;
  @extend .u-text-r-s;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
  margin-left: 10rem;
  margin-right: 10rem;
}

.u-flow-links section h2 {
  @extend .u-text-r-s;
  @extend .u-color-50;
  @extend .u-text-h3;
  @extend .u-margin-all-xs;
}

.u-flow-links section .u-flow-panels-link {
  @extend .u-margin-right-xs;
  @extend .u-margin-top-m;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-flow-links {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .u-flow-links section {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}

/*
 * HERO
 */

.u-flow-hero {
  margin-left: -10rem;
  margin-right: -10rem;
}

.u-flow-hero .flexslider {
  border: none !important;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-flow-hero {
    margin-left: -1rem;
    margin-right: -1rem;
  }

}

/*
 * SIDE IMAGE 
 */

.u-flow .u-flow-side-image {
  margin-left: -10rem;
  margin-right: -10rem;
  height: 30em;
  
}

.u-flow .u-flow-side-image .u-flow-side-image-content {
    background: linear-gradient(rgba(0,0,0,.5) 50%, rgba(0,0,0,0))
}

.u-flow .u-flow-side-image .u-flow-side-image-content .title {
  @extend .u-text-h2;
  cursor: pointer;
}

.u-flow .u-flow-side-image .u-flow-side-image-content .title:hover {
  text-decoration: underline;
}

.u-flow .u-flow-side-image .u-flow-side-image-content .description {
  line-height: 1.55 !important
}

@media (--sm-viewport), (--xs-viewport) {

  .u-flow .u-flow-side-image {
    margin-left: -1rem;
    margin-right: -1rem;
    height: 20em;
  }

}

/*
 * TREEVIEW
 */

.u-flow-treeview {
  @extend .u-layout-centerContent;
  @extend .u-padding-r-top;
}

.u-flow-treeview section {
  @extend .u-layoutCenter;
  @extend .u-layout-wide;
  @extend .u-text-r-s;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
}

/*
 * MAP
 */

.u-flow-map {
  @extend .u-padding-r-top;
  margin-left: -10rem;
  margin-right: -10rem;
}

.u-flow-map .u-map-title {
  @extend .u-layoutCenter;
  @extend .u-layout-wide;
  @extend .u-text-r-s;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
  margin-left: 10rem;
  margin-right: 10rem;
}

.u-flow-map .u-map-title h2 {
  @extend .u-text-r-s;
  @extend .u-color-50;
  @extend .u-text-h3;
  @extend .u-margin-all-xs;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-flow-map {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .u-flow-map .u-map-title {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}

/*
 * AGENDA
 */

.u-flow-agenda {
  @extend .u-padding-r-top;
  margin-left: -10rem;
  margin-right: -10rem;
  margin-top: 3rem;
}

.u-flow-agenda section {
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
  @extend .u-layoutCenter;
  @extend .u-layout-wide;
  @extend .u-text-r-s;
}

/*
.u-days-grid .Grid-cell:nth-child(even){
  @extend .u-background-30;
}
*/

.u-flow-agenda section .arrow {
  margin-top: -39px;
}

.u-flow-agenda section .u-see-all {
  font-size: 2.4rem;
  padding-top: 1rem;
}

.u-flow-agenda section .arrow .arrow-white {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 24px solid;
  color: #fff;
  display: block;
  height: 0;
  margin: 0 auto;
  width: 0;
}

.u-flow-agenda section .u-next-button {
  @extend .u-color-white;
  cursor: pointer;
  font-size: 2.4rem;
}

.u-flow-agenda section .u-next-button i {
  margin-top: 1.8rem;
}

.u-flow-agenda section .u-prev-button {
  @extend .u-color-white;
  cursor: pointer;
  font-size: 2.4rem;
}

.u-flow-agenda section .u-prev-button i {
  margin-top: 1.8rem;
}


.u-flow-agenda section .u-day {
  color: var(--Color-primary);
  background: var(--Color-white);
  font-size: 2rem;
  font-weight: bold;
  height: 6rem;
  margin-left: 15%;
  padding: .5rem;
  width: 70%;
}

.u-flow-agenda section .u-day.selected {
  @extend .u-background-teal-30;
}

.u-flow-agenda section .u-day-events {
  @extend .u-margin-top-l;
  background: var(--Color-60);
}

.u-selected-day .u-selected-day-arrow {
  height: 0;
  border-top: 2rem solid var(--Color-teal-30);
}

@media (--xs-viewport), (--sm-viewport) {

  .u-flow-agenda {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .u-flow-agenda section {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}

/*
@media (--lg-viewport) {

  .u-flow-agenda section .u-prev-button {
    position: absolute;
    left: 10rem;
  }

  .u-flow-agenda section .u-next-button {
    position: absolute;
    right: 10rem;
  }
}
*/

@media (--xs-viewport), (--sm-viewport), (--md-viewport) {

  .u-selected-day {
    display: none !important;
  }

}

/* Custom grid */
.u-size5Perc {
  flex-basis: auto !important;
  width: 5% !important;
}

.u-size90Perc {
  flex-basis: auto !important;
  width: 90% !important;
}

