:root {
  --Color-primary: #0083a5;
  --Pac-font-family-sans: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  
  --Table-stripe-color: var(--Color-grey-20);
}

/*
 *	Only apply to body
 *		class="t-Pac"
 */

.t-Pac {
  font-family: var(--Pac-font-family-sans);
}
