:root {
  --Color-primary: #2196f3;
  --Color-text: #30373d;
  --Color-5: #e3f2fd;
  --Color-10: #bbdefb;
  --Color-20: #90caf9;
  --Color-30: #64b5f6;
  --Color-40: #42a5f5;
  --Color-50: #2196f3;
  --Color-60: #1e88e5;
  --Color-70: #1976d2;
  --Color-80: #27509c;
  --Color-90: #00264d;

  /* --Pac-font-family-sans: "Source Sans Pro", sans-serif; */

  --Pac-font-family-sans: Titillium Web, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

/*
 *	Only apply to body
 *		class="t-Pac"
 */

.t-Pac {
  color: var(--Color-text);
  font-family: var(--Pac-font-family-sans);
}

.t-Pac a {
  color: var(--Color-80);

  text-decoration: none;
}
