/* eZ-Publish full page */

.u-content-length {
  @extend .u-background-40;
  display: none;
  float: left;
  width: 0.6rem;
}

.u-content-length .u-content-timetoread {
  @extend .u-background-text;
  width: 0.6rem;
}

.u-content {
  @extend .u-margin-top-m;
  @extend .Grid;
  @extend .u-padding-bottom-xxxl;
  padding-left: 10rem;
  padding-right: 10rem;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-content {
    @extend .u-padding-left-xs;
    @extend .u-padding-right-xs;
  }

}

.u-content .u-content-main-parent h1 {
  @extend .u-color-80;
  @extend .u-margin-bottom-xl;
}

.u-content .u-content-main {
  @extend .Grid-cell;
  @extend .u-padding-bottom-xxxl;
}

/* u-content-main-side  da aggiungere solo se c'è un content related */

.u-content .u-content-main-side {
  @extend .u-padding-right-xxxl;
  @extend .u-md-size2of3;
  @extend .u-lg-size2of3;
}

@media (--xs-viewport), (--sm-viewport) {
    
  .u-content .u-content-main-side {
    padding-right: 0 !important;
  }
  
}

.u-content .u-content-main .u-content-title h1 {
  @extend .u-color-80;
  @extend .u-margin-bottom-m;
  font-size: 3.2rem !important;
}

.u-content .u-content-main .u-content-title .u-content-abstract {
  @extend .u-margin-bottom-s;
  font-size: 2rem !important;
  font-style: italic;
}

.u-content .u-content-main .u-content-title .u-content-date {
  font-size: 1.3rem !important;
}

.u-content .u-content-main .image-main img {
  width: 100%;
}

.u-content .u-content-main .Prose {
  @extend .u-margin-top-m;
  margin-bottom: 0 !important;
  margin-top: 3rem !important;
}

.u-content .u-content-main h2 {
  @extend .u-color-50;
  margin-bottom: 0 !important;
  margin-top: 3rem;
}

.class-circolare h2,
.class-deliberazione h2,
.class-determinazione h2 {
  margin-top: 0 !important;
}

.u-content .u-content-main h3 {
  @extend .u-color-50;
  margin-bottom: 0 !important;
  margin-top: 4rem !important;
}

.u-content .u-content-main h4 {
  margin-bottom: 0 !important;
  @extend .u-color-50;
  margin-top: 3rem !important;
}

.u-content .u-content-main h5 {
  margin-bottom: 0 !important;
  margin-top: 3rem!important;
}

.u-content .u-content-main .u-content-main-image img {
  width: 100%;
}

.u-content :not(.class-determinazione) :not(.class-deliberazione) :not(.class-circolare) .u-content-main .tags {
  @extend .u-margin-top-xxl;
}

.u-content .u-content-main .tags .tags-margin {
  border-top: 1px solid var(--Color-primary);
}

.u-content .u-content-main .tags h3 {
  margin-top: 0 !important;
}


.u-content .u-content-main .tags h3 span {
  font-size: 1.6rem;
}

.u-content .u-content-main .tags a {
  font-size: 1.6rem;
}

/* banner */

.u-content .u-content-main .u-flow-banner {
  @extend .u-margin-all-xs;
  @extend .u-background-grey-10;
  min-height: 12rem;
}

.u-content .u-content-main .u-flow-banner .u-banner-icon {
  @extend .u-color-white;
  @extend .u-textCenter;
  @extend .u-padding-all-s;
  float: left;
  font-size: 6rem;
  height: 12rem;
  width: 9rem;
}

.u-content .u-content-main .u-flow-banner .u-banner-content {
  @extend .u-padding-all-s;
  float: none;
  height: 10rem;
  margin-left: 12rem;
}

.u-content .u-content-main .u-flow-banner .u-banner-content .u-banner-title {
  font-weight: bold;
}

.u-content .u-content-main .u-flow-banner .u-banner-content .u-banner-subtitle {
  @extend .u-margin-top-xs;
}

/* FACTBOX */
.u-content .u-content-main .u-factbox {
  @extend .Grid;
  @extend .u-border-all-xxs;
  @extend .u-padding-all-s;
  @extend .u-margin-bottom-l;

  margin-right: 8rem;
  margin-left: 8rem;
}

@media (--xs-viewport), (--sm-viewport) {

  .u-content .u-content-main .u-factbox {
    margin-right: 2rem;
    margin-left: 2rem;
  }

}

.u-content .u-content-main .u-factbox .u-factbox-icon {
  @extend .Grid-cell;
  @extend .u-size1of4;
  @extend .u-text-center;
  @extend .u-padding-left-m;
  @extend .u-padding-right-m;
  @extend .u-color-80;
  font-size: 5rem;
  margin-top: -1.2rem;
}


@media (--lg-viewport) {

  .u-content .u-content-main .u-factbox .u-factbox-icon {
    padding-left: 4rem !important;
  }

}

.u-content .u-content-main .u-factbox .u-factbox-content {
  @extend .Grid-cell;
  @extend .u-size3of4;
  @extend .u-color-text;
  @extend .Prose;
}

.u-content .u-content-main .u-factbox .u-factbox-content h3, .u-content .u-content-main .u-factbox .u-factbox-content h4{
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

.u-content .u-content-main .u-factbox .u-factbox-content p {
  margin-bottom: 0 !important;
}

/* /FACTBOX */

.u-content .u-content-related {
  @extend .Grid-cell;
  @extend .u-md-size1of3;
  @extend .u-lg-size1of3;
}

.u-content .u-content-related .u-content-related-item {
  @extend .u-margin-bottom-xl;
  @extend .u-padding-bottom-s;
  border-bottom: 1px solid var(--Color-text);
}

.u-content .u-content-related .u-content-related-item:last-of-type {
  border-bottom: none;
}

.u-content .u-content-related .u-content-related-item h4 {
  @extend .u-margin-bottom-m;
}

.u-content .u-content-related .u-content-related-item h4 .u-content-related-item-title {
  @extend .u-color-40;
  @extend .u-margin-left-s;
}

.u-content .u-content-related .u-content-related-item h5 {
  @extend .u-margin-top-l;
  @extend .u-margin-bottom-m;
}

.u-content .u-content-related .u-content-related-item .Prose ul {
  margin-left: 3rem !important;
}

.u-content .u-content-related .u-content-related-item .Prose > ul > li {
  @extend .u-color-40;
}

@media (max-width: 992px) {

  .u-content .u-content-related {
    @extend .u-padding-left-xs;
    @extend .u-padding-right-xs;
    @extend .u-padding-bottom-xxxl;
  }
}

/*
 * TREEVIEW
 */

.u-content .u-content-treeview {
  @extend .Grid-cell;
  @extend .u-padding-r-top;
  @extend .u-padding-r-bottom;
  @extend .u-margin-bottom-xl;
}

/*
 * SEARCH
 */

.FullSearch .search-cell {
  @extend .u-padding-all-xxxl;
}

@media (--xs-viewport), (--sm-viewport) {

  .FullSearch .search-cell {
    @extend .u-padding-all-l;
  }

}

/* custom faq accordion */

.accordion_faq_concorso h2 {
  margin-top: 0!important;
  font-size: 1.9rem!important;
}

.class-faq_concorso .u-content-main h2 {
  margin-top: 0!important;
  font-size: 1.9rem!important;
}

.class-concorso .u-content-main h4 {
  margin-top: 0!important;
  font-size: 1.9rem!important;
}

.class-faq_concorso .u-content-main h2 {
  margin-top: 0!important;
  font-size: 1.9rem!important;
}

.class-folder .u-content-main .Accordion  h2 {
  margin-top: 0!important;
  font-size: 1.9rem!important;
}

.class-faq_concorso .u-content-main .Accordion div{
	font-size: 1.6rem!important;
}

.class-folder .u-content-main .Accordion .Accordion-panel p{
	font-size: 1.6rem!important;
}

.accordion_faq_concorso h4 {
	font-size: 1.9rem!important;
}
.accordion_response{
	padding-left: 1.5em;
	font-size: 1.35rem!important;
}
.accordion_response  ul{	
	list-style: square;
	margin: inherit;
	padding: inherit; 
}

.class-faq_concorso .u-content-main .Accordion .Accordion-panel  ul {
  list-style: square;
  margin: inherit;  
  padding-left: 2.5em;
  padding-top: 1.3em;
}

.class-folder .u-content-main .Accordion .Accordion-panel  ul {
  list-style: square;
  margin: inherit;  
  padding-left: 2.5em;
  padding-top: 1.3em;
}

/***************************** CAMPAGNA CFP  **************************** */

.orientamento {
  border-left: 12px solid #E6BE46;
  padding-top: 5rem;
  padding-right: 10rem;
  padding-left: 10rem;
  color: #707070;

  margin-bottom: -3.2rem;
  padding-bottom: 8rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.orientamento .titolo {
  font-family: 'Aileron-Black', sans-serif;
  font-size: 8.5rem;
  text-decoration: underline;
  color: #E6BE46;
  line-height: 1;
}

.orientamento .titolo-piccolo {
  font-family: 'Aileron-Black', sans-serif;
  font-size: 5.3rem;
  font-weight: bolder;
  color: #E6BE46;
  line-height: 1;
}

.orientamento .sottotitolo {
  font-family: 'Aileron-Black', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1;
}

.orientamento .sottotitolo-piccolo {
  font-family: 'Aileron-Black', sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.2;
}

.orientamento .descrizione {
  font-size: 2rem;
  line-height: 1.5;
}

.orientamento .video-container iframe {
  width: 100%;
}

.orientamento .video-url a {
  color: #e7ba48 !important;
}

.orientamento .orientamento_mestieri {
  background-color: #707070;
  color: #fff;
  margin-right: -10rem;
  margin-left: -10rem;

  padding-right: 10rem;
  padding-left: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.orientamento .orientamento_mestieri .mestiere {
  margin-bottom: 3rem;
  cursor: pointer;
}

.orientamento .orientamento_mestieri .mestiere h3 {
  font-family: 'Aileron-Black', sans-serif;
  font-size: 2.5rem;
}

.orientamento .orientamento_mestieri .mestiere .dettaglio {
  font-family: 'Aileron-Black', sans-serif;
  font-size: 1.6rem;
  color: #F4BA50;
}

.orientamento .orientamento_mestieri .scuole {
  font-size: 1.4rem;
}

.orientamento .orientamento_mestieri .scuole a {
  color: #fff !important;
}

.orientamento .orientamento_mestieri .scuole strong {
  font-family: 'Aileron-Black', sans-serif;
}

.orientamento .orientamento_mestieri .scuole p {
  display: inline;
}

.orientamento .padding-left-12 {
  padding-left: 12rem!important;
}

.orientamento .relative {
  position: relative;
}

.orientamento .absolute-bottom {
  position: absolute;
  bottom: 2rem;
}

.video {
  font-family: 'Aileron-Bold';
  font-size: 1.5rem;
}

.video h3 {
  font-family: 'Aileron-Black';
  font-size: 2.6rem;
}

.orientamento_campagna .titolo {
  font-family: 'Aileron-Black', sans-serif;
  font-size: 7.5rem;
  color: #E6BE46;
}

.campagna_info {
  margin-top: 6rem;
}

.campagna_info p {
  margin-top: 2rem;
}

@media (--xs-viewport), (--sm-viewport), (--md-viewport) {

  .orientamento .absolute-bottom {
    position: static;
    bottom: auto;
    margin-top: 2rem;
  }

}

@media (--xs-viewport), (--sm-viewport) {

  .orientamento {
    padding-left: 0;
    padding-right: 0;
  }

  .orientamento .titolo {
    font-size: 7rem;
  }

  .orientamento .sottotitolo {
    font-size: 3rem;
  }

  .orientamento .titolo-piccolo {
    font-size: 4rem;
  }

  .orientamento .orientamento_mestieri {
    margin-right: 0;
    margin-left: 0;

    padding-right: 2rem;
    padding-left: 2rem;
  }

  .video-2 {
    display: none;
  }

  .video-3 {
    display: none;
  }

  .video-4 {
    display: none;
  }

  .orientamento .padding-left-12 {
    padding-left: 2rem !important;
  }

  .orientamento .orientamento_mestieri .scuole {
    padding-left: 4rem;
  }

  .orientamento_campagna {
    padding: 0 2rem;
  }

  .orientamento_maestro {
    padding: 0 2rem;
  }

  .logo_pat {
    margin-top: 2rem;
  }


}