/** @define Entrypoint; */

.EntryPoint{
  @extend .u-padding-r-top;
  margin-left: -10rem;
  margin-right: -10rem;
}


.Entrypoint-item {
  @extend .u-borderRadius-m;
  @extend .u-color-grey-40;
  border-style: solid;
  border-width: 1.5px;
  cursor: pointer;
  display: block; 
}

.Entrypoint-itemactive {
  @extend .u-borderRadius-m;
  @extend .u-color-grey-40;
  @extend -u-background-50;
  border-style: solid;
  border-width: 1.5px;
  cursor: pointer;
  display: block;
}
.Entrypoint-item a{  
	font-size: 2rem!important;
	font-weight: bold;
}

.Entrypoint-item:hover{
  @extend .u-background-10;
}

.Entrypoint-item:active a{  
  @extend .u-color-white;
}

.Entrypoint-item:active{
  @extend .u-background-50;
  @extend .u-color-white;
}
.Entrypoint-Ico{
	@extend .u-color-50;
}
.Entrypoint-Ico:active{
	@extend .u-color-white;
}

/* InverseColor */
.EntryPointInverseColor {
  background-color: var(--Color-95) !important;
}

.EntryPointInverseColor .Entrypoint-item {
  @extend .u-background-90;
  border-color: var(--Color-white) !important;
  @extend .u-color-90;
}

.EntryPointInverseColor .Entrypoint-item a {
	@extend .u-color-white;
}

.EntryPointInverseColor .Entrypoint-Ico {
	@extend .u-color-50;
}

.EntryPointInverseColor .Entrypoint-item:active {
  background-color: var(--Color-50) !important;
  color: var(--Color-teal-30) !important;
}

.EntryPointInverseColor .Entrypoint-item:hover {
  background-color: var(--Color-80) !important;
  border-color: var(--Color-grey-50) !important;
}




/********************************************************/
/****************** ziller ******************************/
/********************************************************/

.Entrypoint-item a:hover{
  text-decoration: none !important;
}

/* Button Info */
.Entrypoint-item.Entrypoint-Info {
@extend .u-color-50;
}

/* Button Primary */
.Entrypoint-item.Entrypoint-Primary {
@extend .u-color-50;
@extend .u-background-50;
}

.Entrypoint-item.Entrypoint-Primary a {
@extend .u-color-white;
}

.Entrypoint-item.Entrypoint-Primary:hover {
@extend .u-background-70;
@extend .u-color-70;
}

.Entrypoint-item.Entrypoint-Primary:active {
  background: white !important;
}

.Entrypoint-item.Entrypoint-Primary:active a {
@extend .u-color-50;
@extend .u-background-white;
}

/* Button InfoGrey */
.Entrypoint-item.Entrypoint-InfoGrey a {
@extend .u-color-grey-40;
}

.Entrypoint-item.Entrypoint-InfoGrey:hover {
@extend .u-background-grey-20;
@extend .u-color-grey-20;
}

.Entrypoint-item.Entrypoint-InfoGrey:active {
@extend .u-background-grey-60;
@extend .u-color-grey-60;
}

.Entrypoint-item.Entrypoint-InfoGrey:active a {
@extend .u-color-white;
@extend .u-background-grey-60;
}

/* Button Grey */
.Entrypoint-item.Entrypoint-Grey {
@extend .u-color-grey-40;
@extend .u-background-grey-40;
}

.Entrypoint-item.Entrypoint-Grey a {
@extend .u-color-white;
}

.Entrypoint-item.Entrypoint-Grey:hover {
@extend .u-background-grey-60;
@extend .u-color-grey-60;
}

.Entrypoint-item.Entrypoint-Grey:active {
@extend .u-background-grey-80;
@extend .u-color-grey-80;
}

.Entrypoint-item.Entrypoint-Grey:active a {
@extend .u-color-white;
@extend .u-background-grey-80;
}

/* Button Teal */
.Entrypoint-item.Entrypoint-Teal {
@extend .u-color-teal-50;
}

.Entrypoint-item.Entrypoint-Teal a {
@extend .u-color-teal-50;
}

.Entrypoint-item.Entrypoint-Teal:hover {
  background: var(--Color-teal-50) !important;
  color: var(--Color-teal-50) !important;
}

.Entrypoint-item.Entrypoint-Teal:hover a {
  color: white !important;
  background: var(--Color-teal-50) !important;
}

.Entrypoint-item.Entrypoint-Teal:active {
  background: var(--Color-teal-30) !important;
  color: var(--Color-teal-30) !important;
}

.Entrypoint-item.Entrypoint-Teal:active a {
  color: white !important;
  background: var(--Color-teal-30) !important;
}

/********************************************************/
/********************************************************/
/****************** buttons_entrypoint*******************/
/********************************************************/

.buttons_entrypoint {
    min-height:22.7rem!important;

}

.Content_entrypoint {
    margin-top: 8rem!important;
}

.Content_entrypointIco {
    margin-top: 4.5rem!important;
}











