/** @define Entrypoint; */

.EntryPoint{
  @extend .u-padding-r-top;
  margin-left: -10rem;
  margin-right: -10rem;
}


.Entrypoint-item {
  @extend .u-borderRadius-m;
  @extend .u-color-grey-40;
  border-style: solid;
  border-width: 1.5px;
  cursor: pointer;
  display: block; 
}

.Entrypoint-itemactive {
  @extend .u-borderRadius-m;
  @extend .u-color-grey-40;
  @extend -u-background-50;
  border-style: solid;
  border-width: 1.5px;
  cursor: pointer;
  display: block;
}
.Entrypoint-item a{  
	font-size: 2rem!important;
	font-weight: bold;
}

.EntryPointInverseColor .Entrypoint-item a{  
	@extend .u-color-white;
}

.Entrypoint-item:hover{
  @extend .u-background-10;
}

.Entrypoint-item:active a{  
  @extend .u-color-white;
}

.Entrypoint-item:active{
  @extend .u-background-50;
  @extend .u-color-white;
}

.EntryPointInverseColor .Entrypoint-item{
  @extend .u-background-50;
  border-color: var(--Color-white) !important;
}

.EntryPointInverseColor .Entrypoint-item:hover{
  @extend .u-background-10;
}

.EntryPointInverseColor .Entrypoint-item:active a{  
  @extend .u-color-50;
}

.EntryPointInverseColor .Entrypoint-item:active{
  @extend .u-background-10!important; 
}

